<div fxLayout="column" fxLayoutGap="16px" class="padding-bottom_32p padding-top_128p">
  <app-section-header appDisplayMode="fadeInTop" class="header display_block opacity_0" label="services"></app-section-header>

  <div appDisplayMode="fadeInTop" fxLayout fxLayoutAlign="center" class="opacity_0">
    <div class="width_100 container-max-width" [class.padding-horizontal_16p]="!layoutService.business.isHandset()">
      <div fxFlex [fxLayout]="layoutService.business.isHandset() ? 'column' : 'row wrap'" class="product-item-container">
        <app-product-item *ngFor="let product of products" [item]="product" fxFlex="33.3333" class="display_block"></app-product-item>
      </div>
    </div>
  </div>
</div>
