.text-name {
  font-weight: 900;
  letter-spacing: normal;
}

.contact-btn {
  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.handset .mat-display-1 {
  font-size: 32px;
}

.handset .mat-display-4 {
  font-size: 96px;
}
