$palette: (
 50: 	hsl(180, 46%, 60%),
 100: hsl(180, 46%, 58%),
 200: hsl(180, 46%, 54%),
 300: hsl(180, 46%, 52%),
 400: hsl(180, 46%, 50%),
 500: hsl(180, 46%, 48%),
 600: hsl(180, 46%, 46%),
 700: hsl(180, 46%, 44%),
 800: hsl(180, 46%, 42%),
 900: hsl(180, 46%, 40%),
 A100: #000,
 A200: #000,
 A400: hsl(180, 46%, 60%),
 A700: hsl(180, 46%, 58%),
 contrast: (
   50: rgba(black, 0.46),
   100: rgba(black, 0.46),
   200: rgba(black, 0.46),
   300: rgba(black, 0.55),
   400: rgba(black, 0.55),
   500: rgba(black, 0.55),
   600: rgba(black, 0.55),
   700: rgba(black, 0.55),
   800: rgba(black, 0.55),
   900: rgba(black, 0.55),
   A100: rgba(black, 0.55),
   A200: rgba(black, 0.55),
   A400: rgba(black, 0.55),
   A700: rgba(black, 0.55)
 )
);
