$palette: (
 50: 	hsl(53, 100%, 100%),
 100: hsl(53, 100%, 98%),
 200: hsl(53, 100%, 96%),
 300: hsl(53, 100%, 94%),
 400: hsl(53, 100%, 92%),
 500: hsl(53, 100%, 90%),
 600: hsl(53, 100%, 88%),
 700: hsl(53, 100%, 86%),
 800: hsl(53, 100%, 84%),
 900: hsl(53, 100%, 82%),
 A100: #0053,
 A200: #0053,
 A400: hsl(53, 100%, 100%),
 A700: hsl(53, 100%, 98%),
 contrast: (
  50: rgba(black, 0.87),
  100: rgba(black, 0.87),
  200: rgba(black, 0.87),
  300: rgba(black, 0.87),
  400: rgba(black, 0.65),
  500: rgba(black, 0.65),
  600: rgba(black, 0.65),
  700: rgba(black, 0.65),
  800: rgba(black, 0.65),
  900: rgba(black, 0.65),
  A100: rgba(black, 0.65),
  A200: rgba(black, 0.65),
  A400: rgba(black, 0.65),
  A700: rgba(black, 0.65)
 )
);
