$palette: (
 50: 	hsl(249, 100%, 73%),
 100: hsl(249, 100%, 72%),
 200: hsl(249, 100%, 71%),
 300: hsl(249, 100%, 70%),
 400: hsl(249, 100%, 69%),
 500: hsl(249, 100%, 68%),
 600: hsl(249, 100%, 67%),
 700: hsl(249, 100%, 66%),
 800: hsl(249, 100%, 65%),
 900: hsl(249, 100%, 64%),
 A100: #000,
 A200: #000,
 A400: hsl(249, 100%, 73%),
 A700: hsl(249, 100%, 72%),
 contrast: (
  50: rgba(black, 0.87),
  100: rgba(black, 0.87),
  200: rgba(black, 0.87),
  300: rgba(black, 0.87),
  400: rgba(black, 0.65),
  500: rgba(black, 0.65),
  600: rgba(black, 0.65),
  700: rgba(black, 0.65),
  800: rgba(black, 0.65),
  900: rgba(black, 0.65),
  A100: rgba(black, 0.65),
  A200: rgba(black, 0.65),
  A400: rgba(black, 0.65),
  A700: rgba(black, 0.65)
 )
);
